body {
    background-image: url("feuilles.png");
    background-repeat: repeat;


}

.zzz{
  ;  background-image: url("pingouin.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center
    font-size: 40px;
}
